<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <span class="fontCss2" style="font-size: 24px;font-weight:bold;">
         生活支出
        <span  style="font-size: 14px;font-weight:bold;">管理</span>
    </span>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">CostOfLiving</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <a *ngIf="type == 'back'" class="btn btn-primary btn-block margin-bottom" (click)="change('add')"><span class="fontCss2">新增費用</span></a>
        <a *ngIf="type == 'add'" class="btn btn-primary btn-block margin-bottom" (click)="change('back')"><span  class="fontCss2">返回費用列表</span></a>
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title fontCss2">生活費用</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
          </div>
     <app-action
      [dataLists]="dataLists$ | async"
      [filterItem]="filterItem"
      (filter)="filter($event)" 
     ></app-action>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title fontCss2">功能</h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li (click)="fn()"><a href="#" ><i class="fa fa-circle-o text-red" ></i><span class="fontCss"> 設定各費用額度提醒</span></a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <app-form *ngIf="type == 'add'"
          [dataLists]="dataLists$ | async"
          [dataList]="dataList$ | async"
          [data]="data"
          (save)="save($event)"  
        ></app-form>
        <app-list-total *ngIf="type == 'back'"
          [dataLists]="dataLists$ | async"
          [totalLists]="totalLists$ | async"
          [sliderLists]="sliderLists$ | async"
          [filterItem]="filterItem"
        ></app-list-total>
        <app-list *ngIf="type == 'back'"
          [dataLists]="dataLists$ | async"
          [filterItem]="filterItem"
          (edit)="edit($event)" 
          (delete)="delete($event)" 
         ></app-list>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
 

<ng-template #templateRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">設定各費用最大額度</h4>
    </div>
    <div class="modal-body">
      <app-slider
      [sliderLists]="sliderLists$ | async"
      ></app-slider>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>
 